

:root {
    --colorPrincipal :  #1B0044;
    --colorSecundario : #5727A3;
    --colorTerciario : #9153F4;
    --colorCuaternario : #D6C5F0;
    --roboto: 'Roboto', sans-serif; /*  nos manejamos con 400 y 500 de weight*/
    --robotoSlab: 'Roboto Slab', serif ; /*  nos manejamos con 400 y 500 de weight*/
    
}

.borrarimg {
    display: none;
}
.contenedorUsuarioTituloAlbum{
   
display: flex;
flex-direction: row;
justify-content: space-between;

}
.logoContenedor {
    width: 32%;
   
}
.favDescripcionAlbum {
    position: absolute;
    top : 5%;
    right: 7%;
    color: var(--colorPrincipal);
}
.logo-album {
    margin-left: 2%;
    padding: 15px;
    height: auto;
    max-width: 26%;
}
.titulo{
    font-size: 1.8em;

}

@media screen and (max-width: 30em) {
    .logo-album {
      padding: 0;
      max-width: 30%;
      margin: 8px;
    }

    .sectionPrincipal {
        margin-top: 28%;
        height: 84%;
    }

    .cancionReproduciendo {
        width: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
        margin-top: 7%;
        border-radius: 15px;
        height: 350%;
        position: relative;
    }

    .imgAlbumDescripcion {
        margin-top: 8%;
        margin-left: 20%;
        width: 55%;
    }


    .descripcionCancion {
        height: 67%;
        position: absolute;
        width: 60%;
        left: 36%;
        top:15%;
    }

    .favDescripcion {
        right: 26%;
    }

    .albumDescripcion {
        width: 33%;
        position: absolute;
        top: 0%;
        left: 0%;
    }
}
@media screen and (min-width: 30.1em) and (max-width: 40em){

    .logo-album {
        margin: 6px;
        padding: 0px;
        max-width: 35%;
        
    }

    .usuarioContainer {
    padding-bottom: 20px;
    
}

}
@media screen and (min-width: 40em) and (max-width: 60em){
    .logoContenedor{
        width: 22%;
    }
    .logo-album {
        margin: 7px;
        padding: 0px;
        max-width: 40%;
    }
    .titulo {
        font-size: 1.5rem;
        margin: 10px 10px 5px 0;
        text-align: center;   
}
}


/* COMENTO LOS ESTILOS YA QUE LOS MODIFICADOS LOS PASE A LOS ESTILOS GENERALES
.navbar {
    list-style: none;
    width: 22%;
    padding: 2px;
}
.item {
    padding: 25px 20px 25px 2px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(31, 30, 30);
    font-family: var(--roboto);
    font-weight: bold ;
}
.item:hover {
    color:var(--colorSecundario);
}

.link {
    text-decoration: none;
    color: black;
    
}
.seleccionado {
    text-decoration: none;
    color: rgb(105, 102, 102);
} */