:root {
    --colorPrincipal: #1B0044;
    --colorSecundario: #5727A3;
    --colorTerciario: #9153F4;
    --colorCuaternario: #D6C5F0;
    --roboto: 'Roboto', sans-serif;
    /*  nos manejamos con 400 y 500 de weight*/
    --robotoSlab: 'Roboto Slab', serif;
    /*  nos manejamos con 400 y 500 de weight*/

}

body {
    font-family: var(--roboto);
   
    color: var(--colorCuaternario);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--colorPrincipal), rgb(10, 10, 10));
    display: grid;
    grid-template-rows: 80% 20%;

    
}

.vistaPrincipal {
    grid-row: 1;
}
footer {
    grid-row: 2;
}
*{
    box-sizing: border-box;
}

.a-link {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.campo-form {
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.recuadro {
    border: solid 1px #D6C5F0;
    width: 280px;
    height: 35px;
    border-radius: 5px;
}

.form-ingreso {
    margin: 3% auto;

    width: 600px;
    background-color: #9153F4;
    padding: 60px;

    border-radius: 20px;
    box-shadow: 8px 8px 0px -2px #1B0044;
    align-items: center;
}

@media screen and (max-width: 30em) {
    /* Estilos para smartphones */

    .form-ingreso{
        width: 400px;
    }

    body {
        font-size: 70%;
    }
}



@media screen and (min-width: 30.1em) and (max-width: 60em) {

    /* Estilos para tablets */

    .form-ingreso{
        width: 495px;
       
    }
    body {
        font-size: 80%;
    }


}





