:root {
    --colorPrincipal :  #1B0044;
    --colorSecundario : #5727A3;
    --colorTerciario : #9153F4;
    --colorCuaternario : #D6C5F0;
    --roboto: 'Roboto', sans-serif; /*  nos manejamos con 400 y 500 de weight*/
    --robotoSlab: 'Roboto Slab', serif ; /*  nos manejamos con 400 y 500 de weight*/
     
   }

.contenedorUsuarioTitulo {
    width: 90%;
    margin: auto;
}

.barraBusqueda {
    width: 31%;
    min-width: 150px;
    height: 40px;
    float: left;
    background-color: var(--colorCuaternario);
    border-radius: 25px;

}

.barraBusqueda::placeholder {
    padding-left: 10px;
}

.usuario{
    font-family: var(--roboto);
}