* {
    box-sizing: border-box;
  
  
}


:root {
    --colorPrincipal :  #1B0044;
    --colorSecundario : #5727A3;
    --colorTerciario : #9153F4;
    --colorCuaternario : #D6C5F0;
    --roboto: 'Roboto', sans-serif; /*  nos manejamos con 400 y 500 de weight*/
    --robotoSlab: 'Roboto Slab', serif ; /*  nos manejamos con 400 y 500 de weight*/
     
   }

/* 




    */ 


    /*  PAGINA DE ICONOS A AGREGAR :  https://fonts.google.com/icons?selected=Material+Symbols+Outlined:play_arrow:FILL@0;wght@400;GRAD@0;opsz@24&icon.query=music 
         SE TIENE QUE  AGREGAR AL HTML --- LUEGO INGRESAR EL ESTILO EN EL CSS Y POR ULTIMO AGREGASR EL ICONO 

         
         

        -- guido : principal

        
        
        -- nacho : buscar 
        
        
        -- magali : albums

       

        -- ivone : mis favoritos


         --JULIANA : VISTA PAGAR , PERFIL Y PREMIUM 


         -- marcos : va a ahcer el nav bar y el footer  y MUSICA SONANDO

         */
    
     



   


   
   .material-symbols-outlined {
     font-variation-settings:
     'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 24
   }
 

.footer {
    display: flex;
    
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
    margin: 20px 40px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 90%;
    height: 100px;
    
   
    
}

label {
    font-family: var(--roboto);
    font-weight: 500;
}


/* ESTILO BASICO DE BOTONES*/ 
.button {
    padding: 5px;
    margin: 5px 5px;
    
    box-shadow: 4px 4px 0px -2px #5727A3;
    
    border-radius: 4px;
    font-family: var(--robotoSlab);
    font-weight: 500;
    text-decoration: none;
    
    color: #9153F4;
    background-color: #D6C5F0;
    
}

.button:hover {
    padding: 5px;
    margin: 5px 5px;
    border: 2px solid ;
    
    border-radius: 5px;
    font-family: var(--robotoSlab);
    font-weight: 500;
    text-decoration: none;
    background-color: var(--colorTerciario);
    color: var(--colorCuaternario);
    transition: 0.7s;
    
}


.navbar {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 2px;
    grid-row: 1;
    
}
.item {
    
  
   
    font-family: var(--roboto);
    font-weight: bold ;
    padding: 20px;
}


.link {
    text-decoration: none;
    color :var(--colorCuaternario);
    display: block;
    height: 25%;
    
    transition: 1s;
    
}

.link:hover {
    color:var(--colorSecundario);
    background-color: var(--colorCuaternario);
    transition: 1s;
}
.seleccionado {
    text-decoration: none;
    color: rgb(31, 30, 30);
    background-color: var(--colorTerciario);
}