:root {
    --colorPrincipal: #1B0044;
    --colorSecundario: #5727A3;
    --colorTerciario: #9153F4;
    --colorCuaternario: #D6C5F0;
    --roboto: 'Roboto', sans-serif;
    /*  nos manejamos con 400 y 500 de weight*/
    --robotoSlab: 'Roboto Slab', serif;
    /*  nos manejamos con 400 y 500 de weight*/

}

html {
    height: 100vh;
}

.form-index {
    margin: 3% auto;

    width: 600px;
    background-color: #9153F4;
    padding: 60px;

    border-radius: 20px;
    box-shadow: 8px 8px 0px -2px #1B0044;
    align-items: center;

}

.campo {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
}

@media screen and (max-width: 30em) {
    /* Estilos para smartphones */

    .form-index{
        width: 400px;
    }

    body {
        font-size: 70%;
    }
}

/* MEDIA QUERYS DE SECCION PRINCIPAL TABLETS*/

@media screen and (min-width: 30.1em) and (max-width: 60em) {

    /* Estilos para tablets */

    .form-index{
        width: 495px;
       
    }
    body {
        font-size: 80%;
    }


}

.link-registro {

    margin-left: 40%;

}

.recuadro {
    border: solid 1px #D6C5F0;
    width: 280px;
    border-radius: 5px;
    height: 25px;
}


.button-inicio {
    width: 40%;
    display: block;
    margin-left: 30%;
    margin-bottom: 5%;
    padding: 5px;

    box-shadow: 4px 4px 0px -2px #5727A3;
    border-radius: 4px;
    font-family: var(--robotoSlab);
    font-weight: 500;
    text-decoration: none;

    color: #9153F4;
    background-color: #D6C5F0;
}

.button-inicio:hover {
    border: 2px solid;

    border-radius: 5px;
    font-family: var(--robotoSlab);
    font-weight: 500;
    text-decoration: none;
    background-color: var(--colorTerciario);
    color: var(--colorCuaternario);
}

body {
    font-family: var(--roboto);
    /* background-color: var(--colorPrincipal); */
    color: var(--colorCuaternario);
    overflow: auto;
    background-image: linear-gradient(black, var(--colorPrincipal));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

footer {
    grid-column: 1/7;
    grid-row: 2;

}