

:root {
    --colorPrincipal :  #1B0044;
    --colorSecundario : #5727A3;
    --colorTerciario : #9153F4;
    --colorCuaternario : #D6C5F0;
    --roboto: 'Roboto', sans-serif; /*  nos manejamos con 400 y 500 de weight*/
    --robotoSlab: 'Roboto Slab', serif ; /*  nos manejamos con 400 y 500 de weight*/
    
}

.titulo {
    font-size: 1.8rem;
    margin-left: 30px;
}
.favDescripcionAlbum {
    position: absolute;
    top : 5%;
    right: 7%;
    color: var(--colorPrincipal);
}
.logo-album {
    margin-left: 2%;
    padding: 15px;
    height:auto;
    width: 10%;
}

@media screen and (max-width: 30em) {
    .logo-album {
        
    }
}

/* COMENTO LOS ESTILOS YA QUE LOS MODIFICADOS LOS PASE A LOS ESTILOS GENERALES
.navbar {
    list-style: none;
    width: 22%;
    padding: 2px;
}
.item {
    padding: 25px 20px 25px 2px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(31, 30, 30);
    font-family: var(--roboto);
    font-weight: bold ;
}
.item:hover {
    color:var(--colorSecundario);
}

.link {
    text-decoration: none;
    color: black;
    
}
.seleccionado {
    text-decoration: none;
    color: rgb(105, 102, 102);
} */